
<center>
	<b font-size="6">Jobs Page</b>
</center>
<div ng-controller="jobsController">

	<form id="Jobsform" data-ng-submit="insertJobs()"method="post">
		<table align="center" width="80%" border="1">
			<tr>
				<td>Job Profile</td>
				<td><input type="text" name="jobProfile" data-ng-model="job.jobProfile"/></td>
			</tr>
			<tr>
				<td>Job Qualfication</td>
				<td><input type="text" name="qualification" data-ng-model="job.qualification"/></td>
			</tr>
			<tr>
				<td>Job Description</td>
				<td><textarea cols="30" row="10" name="jobDesc" data-ng-model="job.jobDesc" /></textarea></td>
			</tr>
			<tr>
			
			<tr>
				<td>Post Date</td>
				<td><textarea cols="30" row="10" name="postDate" data-ng-model="job.postDate" /></textarea></td>
			</tr>
			
				<td>Job Status</td>
				<td><textarea cols="30" row="10" name="status" data-ng-model="job.status" /></textarea></td>
			</tr>
			<tr>
				<td colspan="2"><center><input type="submit" value="Post Job"  ng-click="postJob()"></center></td>
		</table>
	</form>

<br/>
	<table align="center" width="100" border=1>
		
		<tr bgcolor="orange">
			<td>Jobs Profile</td>
			<td>Jobs Qualification</td>
			<td>Jobs Description</td>
			<td>Post Date</td>
		<td>Job Status</td>
			
		</tr>
		<tr bgcolor="cyan" ng-repeat="jobs in jobsdata">
			<td>{{jobs.jobProfile}}</td>
			<td>{{jobs.qualification}}</td>
			<td>{{jobs.jobDesc}}</td>
			<td>{{jobs.postDate}}</td>
			<td>{{jobs.status}}</td>
		</tr>

	</table>
</div>







 
<<!-- center>
	<b font-size="6">Jobs Page</b>
</center>
<div ng-controller="jobsController">

	<table>
		<form id="job">
			<table border="1">
					<tr>
						<td>Job Name</td>
						<td><input type="text" ng-model="job.jobName"/></td>
					</tr>
					<tr>
						<td>Job Description</td>
						<td><textarea ng-model="job.jobDesc" cols=30 rows=10></textarea></td>
					</tr>
					<tr>
						<td>Salary</td>
						<td><input type="text" ng-model="job.salary"/></td>
					</tr>
					<tr>
						<td colspan="2">
						<input type="submit" value="Post Job" ng-click="postJob()"/>
						</td>
					</tr>
				</table>
			</form>
		</table>
</div>
  -->