<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<center>
	<b font-size="6">Jobs Page</b>
</center>
<div ng-controller="jobsController">

	<form id="Jobsform" data-ng-submit="insertJobs()"method="post">
		<table align="center" width="80%" border="1">
			<tr>
				<td>Job Profile</td>
				<td><input type="text" name="jobProfile" data-ng-model="jobs.jobProfile"/></td>
			</tr>
			<tr>
				<td>Job Qualfication</td>
				<td><input type="text" name="qualification" data-ng-model="jobs.qualification"/></td>
			</tr>
			<tr>
				<td>Job Description</td>
				<td><textarea cols="30" row="10" name="jobDesc" data-ng-model="jobs.jobDesc" /></textarea></td>
			</tr>
			<tr>
				<td colspan="2"><center><input type="submit" value="Insert Jobs" ></center></td>
		</table>
	</form>

<br/>
	<table align="center" width="100" border=1>
		
		<tr bgcolor="orange">
			<td>Jobs Profile</td>
			<td>Jobs Qualification</td>
			<td>Jobs Description</td>
		</tr>
		<tr bgcolor="cyan" ng-repeat="jobs in jobsdata">
			<td>{{jobs.jobProfile}}</td>
			<td>{{jobs.qualification}}</td>
			<td>{{jobs.jobDesc}}
		</tr>

	</table>
</div>
</body>
</html>